<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CinemaInfo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8477D38C25DA340C00BAEA79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8477D3A525DA341100BAEA79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8477D3B025DA341100BAEA79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
